@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* Prevent panning when interacting with form elements */
.no-drag {
  touch-action: auto !important;
}

.no-drag input,
.no-drag textarea,
.no-drag button,
.no-drag select {
  touch-action: auto !important;
  pointer-events: auto !important;
}
